# unnecessary build artifacts
.git
venv
.venv
.python-version

# caches
**/__pycache__
.pytest_cache
.mypy_cache

# editor artifacts
.vscode
.idea

# python compiled files
**.pyc

# test files
forecast.db
